Source: lumasave
Section: kde
Priority: optional
Maintainer: Lars Karlslund <lkarlslund@users.noreply.github.com>
Build-Depends:
 debhelper-compat (= 13),
 cmake (>= 3.25),
 cargo,
 extra-cmake-modules (>= 6.0),
 libdrm-dev,
 libkf6kcmutils-dev (>= 6.0),
 libkscreen-dev (>= 6.0),
 libvulkan-dev,
 libwayland-dev,
 pkg-config,
 qt6-base-dev (>= 6.7),
 qt6-declarative-dev (>= 6.7),
 rustc,
 wayland-protocols,
 kwin-dev (>= 4:6.6)
Standards-Version: 4.7.0
Homepage: https://github.com/lkarlslund/lumasave
Rules-Requires-Root: no

Package: lumasave
Architecture: amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 kdialog,
 kwin-common (>= ${kwin:Version}),
 kwin-common (<< ${kwin:NextVersion}),
 plasma-workspace
Description: content-adaptive LCD backlight saving for KDE Plasma
 LumaSave lowers an internal LCD backlight and compensates the image in KWin to
 preserve useful contrast and readability.
