#!/usr/bin/make -f

export CARGO_NET_OFFLINE = true
export CARGO_HOME = $(CURDIR)/debian/.cargo
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/architecture.mk

%:
	dh $@ --buildsystem=cmake --sourcedirectory=kwin

override_dh_auto_configure:
	CARGO_NET_OFFLINE=false cargo fetch --locked
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=None \
		-DKDE_INSTALL_USE_QT_SYS_PATHS=ON \
		-DKDE_INSTALL_PLUGINDIR=lib/$(DEB_HOST_MULTIARCH)/qt6/plugins \
		-Wno-dev

override_dh_gencontrol:
	kwin_version=$$(dpkg-query -W -f='$${Version}' kwin-common); \
	kwin_upstream=$${kwin_version%%-*}; \
	dh_gencontrol -- -Vkwin:Version="$$kwin_upstream" -Vkwin:NextVersion="$$kwin_upstream+1"

override_dh_auto_clean:
	dh_auto_clean
	rm -rf debian/.cargo
